* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.container {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .imgBox {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  box-shadow: -2px 6px 60px 39px rgba(150, 148, 148, 0.123);
}

.container .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: none;
}
